<div id="page-content-wrapper">
        <div class="container-fluid">
            <% if !@friend == nil %>
            <%= @friend.name %>
            <% else %>
                <p>Não tem nenhum amigo ainda!</p>  
            <% end %>          
        </div>
    </div>