<div id="page-content-wrapper">
  <div class="container-fluid">
    <h1 class="mt-2">Meus Grupos</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @groups.each do |group| %>
        <tr>
          <td><%= group.name %></td>
          <td><%= link_to 'Show', group %></td>
          <td><%= link_to 'Edit', edit_group_path(group) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>